apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ argocd_app_name }}
  namespace: {{ argocd_namespace }}
spec:
  project: default
  source:
    repoURL: {{ gitops_repo_url }}
    targetRevision: {{ gitops_repo_branch }}
    path: {{ gitops_repo_path }}
    directory:
      recurse: true
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ gitops_target_namespace }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
